<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd"
          xmlns="http://maven.apache.org/SETTINGS/1.1.0">

  <mirrors>
    <mirror>
      <id>BetonQuest-Mirror</id>
      <url>https://nexus.betonquest.org/repository/default/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>

</settings>
