# EditorConfig is awesome: https://EditorConfig.org
root = true

[*]
charset = utf-8
insert_final_newline = true
indent_style = space
indent_size = 2

[{LICENSE,mvnw, mvnw.cmd,/.idea/**}]
insert_final_newline = unset
indent_style = unset
indent_size = unset

[CHANGELOG.md]
indent_size = 4

[*.java]
indent_size = 4
ij_continuation_indent_size = 8
trim_trailing_whitespace = true
max_line_length = 120
curly_bracket_next_line = false
spaces_around_operators = true
spaces_around_brackets = outside
indent_brace_style = K&R
continuation_indent_size = 8
line_comment = //
block_comment_start = /*
block_comment_end = */

[*.py]
indent_size = 4

# Ignore Python Virtualenv files
[/{lib,venv,.venv}/**]
indent_style = unset
indent_size = unset
