#MkDocs and the MkDocs-material theme
mkdocs-material==7.2.2
#Shows git revision date at the bottom of the page
mkdocs-git-revision-date-localized-plugin
#Tool for MkDocs versioning
mike==1.0.1
#mkdocs-exclude plugin to exclude snippets
mkdocs-exclude
