#MkDocs and the MkDocs-material theme
git+https://${MKDOCS_MATERIAL_INSIDERS}@github.com/squidfunk/mkdocs-material-insiders.git@9.0.11-insiders-4.30.0

mkdocs-snippets

#Tool for MkDocs versioning
mike==1.1.2
#mkdocs-exclude plugin to directories inside /docs from the build
#Used to exclude snippets, theme customization etc.
mkdocs-exclude==1.0.2

#mkdocs-material image processing dependencies
pillow
cairosvg
