name: Daily Dependency Check
on:
  schedule:
    - cron: "0 0 * * *"

jobs:
  code:
    name: Build Code
    if: "always() && github.repository == 'BetonQuest/BetonQuest'"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v6
      - uses: BetonQuest/Workflows/.github/actions/setup-java-maven@main
        with:
          JAVA_OVERRIDE_SETTINGS: 'false'
          MAVEN_WRAPPER_DIR: '~/.m2/wrapper'
          JAVA_OVERRIDE: 21
      - name: Build with Maven
        run: |
          ./mvnw -P Test-All -B package -DskipProjectSettings=true

  docs:
    name: Build Docs
    if: "always() && github.repository == 'BetonQuest/BetonQuest'"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v6
      - uses: BetonQuest/Workflows/.github/actions/setup-git-lfs@main
      - uses: BetonQuest/Workflows/.github/actions/setup-mkdocs-material@main
      - name: Build with mkdocs
        run: |
          mkdocs build --strict

  alert:
    name: Alert to Discord
    if: failure()
    needs: [ code, docs ]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Publish to Discord
        if: "always() && github.repository == 'BetonQuest/BetonQuest'"
        run: |
          bash .github/scripts/discord_cache_alert.sh
        env:
          WEBHOOK_URL: ${{ secrets.WEBHOOK_URL }}
